<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@next"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="app">
        <button @click="changeCondi">
            <span v-if="condi">hide</span>
            <span v-else>show</span>
        </button>
        <div v-if="condi">
            <h3>Books</h3>
            <ul>
                <li v-for="book in filteredBooks" :class='{ fav:book.isFave}' @click='toggleFave(book)'>
                    <p>{{ book.title }}</p>
                    <p>{{ book.author }}</p>
                    <img :src="book.img" :alt="book.title" >
                </li>
            </ul>
            <br>
            <p>{{ title }} - {{ name }} - {{ age }}</p>
            <button v-on:click='()=>{age++}'>Increase Age</button>
            <button v-on:click='()=>{age--}'>Decrease Age</button>
            <div @click="changeTitle('oath bringer')">something else</div>
        </div>

        <br>
        <!-- Mouse events -->
        <div class="box" @mouseover='handleEvent'>mouseover</div>
        <div class="box" @mouseleave='handleEvent'>mouseleave</div>
        <div class="box" @dblclick='handleEvent'>double click</div>
        <div class="box" @mousemove='handleMouseMove'>position: x - {{ x }}  y - {{ y }}</div>

    </div>
    <script src="app.js"></script>
</body>
</html>